name: Deploy to Fly

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy andasy docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: superfly/flyctl-actions@master
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_TOKEN }}
        with:
          args: "deploy --local-only"
